# --- The Brain (Local GPU) ---
llama-cpp-python
huggingface_hub
torch
numpy<2.0

# --- Voice & Ears ---
elevenlabs
SpeechRecognition
pyaudio
pyttsx3
pywhatkit
openai-whisper

# --- Connectivity & Tools ---
requests
beautifulsoup4
google-api-python-client
google-auth-oauthlib
flask
flask-cors
mysql-connector-python
google-generativeai
google-genai
lxml
torch
torchvision
torchaudio

# --- System Control ---
pyautogui
keyboard
screen_brightness_control
pycaw
comtypes
psutil
pyperclip
wikipedia

# --- GUI & Vision ---
customtkinter
pillow
packaging
# OpenCV must be <4.10 to work with Numpy <2.0
opencv-python<4.10
mediapipe